.row {

    margin-top: 18px;
    margin-bottom: 18px;
    border-radius: 20px;
}

body {
    background-color: #fdf4e6;
    color: #bb6032;
}

.dark-mode {
    background-color: #456145;
    color: rgb(237, 248, 207);
}

#top {
    background-image: url(images/background_light.png);
    color: rgb(93, 17, 15);
    padding-left: 18px;
}

.navbar {
    border-radius: 5px;
}

